/*
html { 
  background: url('../img/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #0079DB;
  color: #FFFFFF;
  padding: 10px;
}
*/

html {

    background-attachment: scroll;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  background-color: #0079DB;
  color: #FFFFFF;
  padding: 10px;

}

img {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

input {
    width: 98%;
    border-radius: 5px;
    padding: 5px;
}

button {
    width: 98%;
    border-radius: 5px;
    padding: 5px;
    background-color: #3fb618;
    color: #FFFFFF;

}